* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100svh;
  background: linear-gradient(to right, rgb(192, 38, 211), rgb(219, 39, 119));
}

img{
  max-width: 100%;
}

button{
  border: none;
  background: white;
  padding: 7px 20px 7px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}
